@tailwind base;
@tailwind components;
@tailwind utilities;

{
.container {
    width: auto; /* Adjust as needed */
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu ul {
    list-style-type: none;
    margin: 0px 35px;
    display: flex;
}

.li {
    margin: 15px;
    cursor: pointer;
}

.li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #0000FF;
    transition: width 0.3s;
}

.li:hover::after {
    width: 100%;
}

.li:hover {
    font-weight: bold;
}

.sign-in-button {
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0000FF;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-container { /* Điều chỉnh kích thước hình ảnh */
    height: 25rem;
    overflow: hidden; /* Đảm bảo hình ảnh không tràn ra khỏi container */
    margin: 20px; /* Khoảng cách giữa hình ảnh và nội dung khác */
    border-radius: 5px;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.filter-bar {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -50px; /* Điều chỉnh margin-top để đặt thanh bộ lọc vào giữa */
    z-index: 1; /* Đảm bảo thanh bộ lọc hiển thị trên phần background image */
}

.filter-bar label {
    display: block;
    margin-bottom: 5px;
}

.filter-bar input[type="text"],
.filter-bar input[type="number"],
.filter-bar input[type="date"] {
    width: calc(25% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.filter-bar button.filter-button {
    padding: 10px 20px;
    background-color: #0000FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.filter-bar button.filter-button:hover {
    background-color: #0000FFC3;
}


.body-container {
    display: flex;
    position: relative; /* Để đảm bảo .hotel-search stick với .body-container */
    margin-top: 1rem;
}

.hotel-search {
    width: 20%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    top: 0;
}

.hotel-search.sticky {
    width: 16%;
    position: fixed;
    top: 0;
}

.hotel-checkin-out-box,
.hotel-type-box {
    height: 20rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.hotel-checkin-box-title,
.hotel-type-box-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hotel-checkin-out label {
    display: block;
    margin-bottom: 0.5rem;
}

.hotel-checkin-out input[type="date"] {
    width: calc(100% - 1rem); /* Điều chỉnh kích thước input để phù hợp với giao diện */
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
}

.hotel-type input[type="radio"] {
    margin-right: 0.5rem;
}

.hotel-search-button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0000FF;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hotel-search-button:hover {
    background-color: #0000FFC3;
}


/* Container styling */
.hotel-list {
    width: 80%;
    padding: 1rem;
    margin-left: 30%;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
}

/* Title styling */
.hotel-list-title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* List styling */
.hotel-list ul {
    border-top: 1px solid #D1D5DB;
    height: auto;
}

.hotel-list li {
    height: 15rem;
    padding: 1rem;
    border-bottom: 1px solid #D1D5DB;
}

.hotel-list h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.hotel-item {
    display: flex;
    width: auto;
    height: 3rem;
}

.hotel-image {
    background-size: contain;
    width: 40%;
    height: 13rem;
}

.hotel-info {
    margin: 1rem 0.5rem;
    width: 30%;
}

.hotel-price {
    width: 30%;
    margin-top: 1rem;
    margin-left: 10rem;
}

.hotel-price-text {
    color: #0000FF;
    font-weight: bold;
}

.book-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0000FF;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

}
